<div class="container">
  <div class="cards">
    <ul class="list-group" *ngFor="let pist of MyList;">
      <a href="http://localhost:4200/article/{{pist.ID}}">
        <div class="card-product">
            <img src="../assets/images/{{pist.Image}}" alt="game_image">
          <div class="card-product-infos">
            <div class="titles">
              <div class="title">
                <a href="http://localhost:4200/article/{{pist.ID}}">
                  <h5>{{pist.Titre}}</h5>
                </a>
              </div>
              <div class="price">
                <h5>{{pist.Prix}}€</h5>
              </div>
            </div>
            <p class="description">{{pist.Description}}</p>
            <button *ngIf="admin" class="btn"><a href="/update_article/{{pist.ID}}"><img class="icon" src="../assets/images/edit.png"></a></button>
            <button *ngIf="admin" class="btn" (click)="delete(pist.ID)"><img class="icon" src="../assets/images/cross.png"></button>
          </div>
        </div>
      </a>
    </ul>
  </div>
</div>
