<div class="container">
  <div class="formulaire">
    Username:
    <br>
    <input class="form-control" type="string" [(ngModel)]="user.username">
    <br>
    <br>
    Mdp:
    <br>
    <input class="form-control" type="string" [(ngModel)]="user.password">
    <br>
    <br>
    Nom:
    <br>
    <input class="form-control" type="string" [(ngModel)]="user.nom">
    <br>
    <br>
    Prénom:
    <br>
    <input class="form-control" type="string" [(ngModel)]="user.prenom">
    <br>
    <br>
    Age:
    <br>
    <input class="form-control" type="number" [(ngModel)]="user.age">
    <br>
    <br>
    Mail:
    <br>
    <input class="form-control" type="string" [(ngModel)]="user.mail">
    <br>
    <br>
    Adresse:
    <br>
    <input class="form-control" type="string" [(ngModel)]="user.adresse">
    <br>
    <br>
    Telephone:
    <br>
    <input class="form-control" type="string" [(ngModel)]="user.telephone">
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-primary mb-3" (click)="create()">S'enregistrer</button>
    <br>
    <br>
  </div>
 </div>