<div class="container">
  <div class="card-product">
    <img src="../assets/images/{{article.Image}}" class="img-fluid rounded-start" alt="...">
    <div class="card-product-infos">
      <div class="titles">
        <div class="title">
          <h5>{{article.Titre}}</h5>
        </div>
        <div class="price">
          <h5>{{article.Prix}}€</h5>
        </div>
      </div>
      <p class="description">{{article.Description}}</p>
      <div class="quantite">

        <div class="row">
          <div class="col">
            <label class="form-label">Quantité : </label>
            <input [(ngModel)]="quantity" class="form-control" type="number" min="1" value="1">
          </div>
          <div class="col">
            <button (click)="AddToCart()" class="btn btn-success">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="badge badge-success">{{message}}</div>
</div>
